<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">
      <%= image_tag "logo.png", alt: "BRAVIK Logo", height: 30, class: "d-inline-block align-top ps-2" %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to 'Documents', documents_path, class: "nav-link #{'active' if current_page?(documents_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Conversations', conversations_path, class: "nav-link #{'active' if current_page?(conversations_path) || (request.path.include?('/assistants/conversations') && !request.path.include?('/assistants/conversations_for_review'))}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Conversations for Review', conversations_for_review_path, class: "nav-link #{'active' if current_page?(conversations_for_review_path) || request.path.include?('/assistants/conversations_for_review')}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Assistant Settings', assistant_settings_path, class: "nav-link #{'active' if current_page?(assistant_settings_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Code Generator', widget_generator_path, class: "nav-link #{'active' if current_page?(widget_generator_path)}" %>
        </li>
        <li class="nav-item">
          <a href="mailto:jamie@bravik.com.au?subject=Feature%20Request&body=Hi%20Jamie,%0A%0AI'd%20like%20to%20request%20a%20new%20feature:%0A%0A[Please%20describe%20your%20request]%0A%0AMy%20account%20email:%20<%= user_signed_in? ? current_user.email : '[Your%20email]' %>%0A%0AThanks!" 
             class="nav-link">
            <i class="fas fa-lightbulb me-1"></i>Feature Requests
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Account', user_show_path, class: "nav-link #{'active' if current_page?(user_show_path)}" %>
          </li>
          <li class="nav-item">
            <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', new_user_session_path, class: "nav-link #{'active' if current_page?(new_user_session_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link #{'active' if current_page?(new_user_registration_path)}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>