<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">BRAVIK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to 'Documents', documents_path, class: "nav-link #{'active' if current_page?(documents_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Conversations', conversations_path, class: "nav-link #{'active' if current_page?(conversations_path) || (request.path.include?('/assistants/conversations') && !request.path.include?('/assistants/conversations_for_review'))}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Conversations for Review', conversations_for_review_path, class: "nav-link #{'active' if current_page?(conversations_for_review_path) || request.path.include?('/assistants/conversations_for_review')}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Assistant Settings', assistant_settings_path, class: "nav-link #{'active' if current_page?(assistant_settings_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Code Generator', widget_generator_path, class: "nav-link #{'active' if current_page?(widget_generator_path)}" %>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Account', user_show_path, class: "nav-link #{'active' if current_page?(user_show_path)}" %>
          </li>
          <li class="nav-item">
            <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', new_user_session_path, class: "nav-link #{'active' if current_page?(new_user_session_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link #{'active' if current_page?(new_user_registration_path)}" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>